.navbar{
    overflow: hidden;
    background-color: blueviolet;
    
}

.navbar a{
    float: left;
    display: block; 
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;

}

.navbar a:hover{
    background-color: aquamarine;
}
.active{
    background-color: coral;
    color: white;
}

